body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Updated color */
    padding: 60px; /* Increased padding */
    border-radius: 15px;
    max-width: 60%; /* Increased width */
    margin: 50px auto; /* Adjusted margin */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333; /* Text color for better contrast */
}

.company-name {
    font-size: 4em; /* Increased font size */
    font-weight: bold;
    color: #FF5722; /* Updated color */
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.login-container input {
    color: #333; /* Input text color */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Increased padding */
    margin-bottom: 20px;
    width: calc(100% - 42px); /* Adjusted width */
}

.login-container button {
    padding: 20px 40px; /* Increased padding */
    background: #FF5722; /* Updated color */
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px; /* Increased font size */
    transition: background 0.3s ease;
    border-radius: 5px;
}

.login-container button:hover {
    background: #E64A19; /* Updated hover color */
}

.error-message {
    color: #e74c3c;
    font-size: 18px; /* Increased font size */
}

.checkout-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px 30px;
    background: #FF5722;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
    border-radius: 5px;
    animation: glitter 1.5s infinite;
}

@keyframes glitter {
    0%, 100% {
        box-shadow: 0 0 5px #FF5722, 0 0 10px #FF5722, 0 0 15px #FF5722, 0 0 20px #FF5722;
    }
    50% {
        box-shadow: 0 0 10px #FF5722, 0 0 20px #FF5722, 0 0 30px #FF5722, 0 0 40px #FF5722;
    }
}

.checkout-button:hover {
    background: #E64A19;
}
